html.light {
  --bg-color: #ffffff;
  --text-color: #121212;
  --bg-btn: #000000;
  --btn-text-color: #ffffff;
}

html.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --bg-btn: #ffffff;
  --btn-text-color: #000000;
}

html {
  background-color: var(--bg-color);
}
